@import "@/styles/variables";

.mainContent {
  min-height: calc(100vh - $header-height - $footer-height);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: theme-color($light-theme, "bg");
  color: theme-color($light-theme, "text");

  [data-theme="dark"] & {
    background-color: theme-color($dark-theme, "bg");
    color: theme-color($dark-theme, "text");
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7;
  }
}
